@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

body {
  margin: 0;
  padding: 1px;
  background-image: url(./body.jpg);
  background-repeat: repeat;
  background-size: contain;
}

main {
  width: 100%;
  margin: 0;
}

footer {
  display: flex;
  flex-direction: row;
  position: absolute;
  background-color: antiquewhite;
  width: 100%;
  height: 20vw;
  margin-top: 360vh;
  margin-bottom: 0;
}

/* Numbers Listing */

#total {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#allstudentsinH {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  text-align: center;
  margin-left: 8vw;
  background-color: antiquewhite;
  opacity: 70%;
}

/* STUDENTS STYLING */

tbody {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#list {
  width: 80%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(19, 15, 15);
  justify-content: space-around;
  font-size: 13px;
  margin-top: 2vw;
}

header {
  height: 25vw;
}

#hogLogo {
  background-image: url(./HogwartsHeader.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 70%;
  height: 25vw;
  margin-left: 15vw;
}

#searchBAR {
  height: 3vh;
  width: 40%;
  margin-top: 3vh;
  margin-left: 36vw;
  background-color: rgb(216, 181, 65);
  border: 2vw rgb(216, 181, 65);
  font-family: fantasy;
  color: brown;
}

#filterContainer {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-around;
  margin-top: 3vh;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* BUTTONS */

button {
  background-color: brown;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: blanchedalmond;
  height: 30px;
  width: 10%;
  border: 2px, beige, double;
}

button.sort {
  background-color: rgb(216, 181, 65);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: brown;
  height: 30px;
  width: 100%;
  border: 2px, beige, double;
}

button#expell {
  width: 10vw;
}

button#prefect {
  width: 10vw;
}

.close {
  width: 5vw;
  align-content: flex-end;
}

/* SORT */
.sort {
  height: 5vh;
  margin-left: 5vh;
  margin-top: 3vh;
}

#sorters {
  display: flex;
  flex-direction: row;
  margin-left: 5vw;
}

#sorting {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
}

/* MODAL STYLING */

.modal {
  position: relative;
  height: 20vh;
  top: 30vh;
  left: 33vw;
  width: 30vw;
}

.modalContent {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  text-align: left;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* shadow */
  filter: drop-shadow(0 0 0.75rem black);
}

.modalStudentName {
  font-family: "Ubuntu", sans-serif;
  color: antiquewhite;
}

.modalGender {
  font-family: "Ubuntu", sans-serif;
  color: antiquewhite;
}
.modalHouse {
  font-family: "Ubuntu", sans-serif;
  color: antiquewhite;
}
.modalBlood {
  font-family: "Ubuntu", sans-serif;
  color: antiquewhite;
}
.modalPrefect {
  font-family: "Ubuntu", sans-serif;
  color: antiquewhite;
}

.modalExpelled {
  font-family: "Ubuntu", sans-serif;
  color: antiquewhite;
}

.hide {
  display: none;
}

/* MODAL IMAGE */

img.modalImage {
  margin-left: 1vw;
  margin-top: 2vw;
}

/* HOUSE COLORS */

.Slytherin {
  /* background-color: rgb(14, 54, 14); */
  background-image: url(./emblems/SlytherinEMB.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.Gryffindor {
  background-color: rgb(70, 24, 5);
  background-image: url(./emblems/GryffindorEMB.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.Hufflepuff {
  background-color: rgb(194, 164, 32);
  background-image: url(./emblems/HufflePuffEMB.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.Ravenclaw {
  background-color: rgb(24, 19, 61);
  background-image: url(./emblems/RavenClawEMB.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* TEXT EDITING */

h1 {
  font-family: "Cinzel, serif";
  color: rgb(56, 6, 6);
  margin-top: 2vh;
  font-size: 35px;
}

h2 {
  font-family: "Lato, sans-serif";
  color: white;
  font-size: 25px;
  text-align: left;
}

h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(56, 3, 3);
  font-weight: 600;
  font-size: 1.5vw;
}

td {
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  padding: 3vw;
  color: rgb(78, 31, 12);
  margin-bottom: 10px;
  height: 20px;
  border: 4px brown double;
}

table {
  width: 60%;
  position: absolute;
  margin-left: 9vw;
  background-image: url(./tableBackground.png);
  background-size: contain;
  background-repeat: repeat;
}

td:hover {
  background-color: rgb(216, 181, 65);
}

th {
  font-family: "Cinzel, serif";
  font-weight: 600;
  color: rgb(51, 6, 6);
  font-size: 20px;
  text-align: left;
}
